body{
    font-family: 'Raleway', sans-serif;
}

.custom-border{
    transition: border .2s;
    border: solid 1px rgba(255,255,255,.5);
    border-radius: 10px;
}
.custom-border:hover{
    border-color: rgba(255,255,255,1);
}

.custom-brand{ 
    border-bottom: 1px solid #0d6efd;
    transition: border .2s;
}

.custom-brand:hover{
    border-width: 3px;
}