<div class="contains my-auto">
  <div class="row w-100 h-75">
    <div class="d-inline-flex flex-column w-50 border-primary align-items-center m-auto rounded-4 border border-1 p-5 shadow">
      <h1 class="fw-normal text-dark text-opacity-75 mb-4">Welcome to <span class="text-primary fw-bold pb-1 border-bottom border-primary">ExpenceTop</span></h1>
      <p class="fw-light text-secondary text-center fs-5"><span class="fw-bold">ExpenceTop</span> is an application where you will register
        your products and expenses, as well as see the total in your local
        currency and in USD.</p>
      <p class="fw-light text-secondary fs-5 text-left">Sign up now and start creating and saving your tables!</p>
    </div>
  </div>
</div>