<div class="container">
  <div class="row h-75 w-100 mx-auto">
    <div
      class="col-12 col-lg-5 d-inline-flex flex-column border-primary align-items-center mx-auto mt-5 rounded-4 border border-1 my-auto px-5 pt-4 shadow"
    >
      <h1 class="h1 fw-medium text-dark text-center text-opacity-75 mb-4">Log in</h1>
      <form class="w-100 mx-auto" method="POST">
        <div class="mb-3">
          <label for="email-input" class="form-label">Email address</label>
          <input
            name="email"
            type="email"
            class="form-control"
            id="email-input"
            aria-describedby="emailHelp"
            required
          />
        </div>
        <div class="mb-3">
          <label for="password-input" class="form-label">Password</label>
          <input
            name="password"
            type="password"
            class="form-control"
            id="password-input"
            required
          />
        </div> 
        {{#if error}}
          <p class=" text-danger fw-bold text-opacity-75">{{error}}</p>
        {{/if}}
        <div class="w-100 text-center">
          <button type="submit" class="btn btn-primary">Log in</button>
        </div>
      </form>
    </div>
  </div>
</div>