<h1 class="fw-normal text-dark text-opacity-75 mb-4 text-center">Your Dashboard</h1>

<button class="add-table">+</button>

{{#if content}}


{{else}}

<p>Oops there is nothing here yet! Start creating one table</p>
   <div class="container">
  <div class=" row h-75 w-100 mx-auto">
    <div class="col-12 col-lg-7 d-inline-flex flex-column border-primary align-items-center m-auto rounded-4 border border-1 p-5 shadow">
      <h1 class="fw-normal text-dark text-opacity-75 mb-4 text-center">Welcome to <span class="custom-brand text-primary fw-bold pb-1 ">ExpenceTop</span></h1>
      <p class="fw-light text-secondary fs-5 text-center"><span class="fw-bold">ExpenceTop</span> is an application where you will register
        your products and expenses, as well as see the total in your local
        currency and in USD.</p>
      <p class="fw-light text-secondary fs-5 text-center">Sign up now and start creating and saving your tables!</p>
    </div>
  </div>
</div>

{{/if}}
